* {
    font-family: helvetica, sans-serif;
}

.scores a {
    text-decoration: none;
}

.time {
    position: absolute;
    text-align: right;
    top: 13px;
    right: 50px;
}

.start-screen {
    text-align: center;
}

button {
    cursor: pointer;
    font-size: 100%;
    background-color: rgb(106, 189, 238);
    padding: 5px 10px;
    border: 0;
    transition: background-color 0.1s;
}

button:hover {
    background-color: rgb(70, 136, 173);
}

.hide {
    display: none;
}

.hide-response {
    display: none;
}

.choice {

    display: flex;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    display: block;

}

#questions-title {
    text-align: center;
}

#end-screen {
    text-align: center;
}

#end-screen input {
    margin-top: 10px;
}